In [23]:
import pandas as pd

#### The cell below is useful if you want to create an excel template to capture data in a uniform/exchangable format to match your XML schema. Otherwise it's not useful in changing your excel to XML.

In [24]:
template =pd.read_xml("contact_template.xml")
template.to_excel("xlsx_template.xlsx",index=False)

#### The cells below show how to import captured data from Excel to XML

In [25]:
data=pd.read_excel("contacts_test.xlsx")
data #for inspection of the data, otherwise not useful.

c:\python\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

    Name   Surname                     E-mail      Phone
0  Peter     Tsuro  peter_rabbit@domain.co.zw  775456125
1  Janet    Rutsva             jannet@zim.com  719456321
2  Keith  Jaravaza             kj@jumbo.co.zw  733315168

In [26]:
data.to_xml("contact_template.xml", index=False)

In [27]:
output =pd.read_xml("contact_template.xml")
output#for inspection of the data, otherwise not useful.

    Name   Surname                     E-mail      Phone
0  Peter     Tsuro  peter_rabbit@domain.co.zw  775456125
1  Janet    Rutsva             jannet@zim.com  719456321
2  Keith  Jaravaza             kj@jumbo.co.zw  733315168